@font-face {
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 400;
    src: url('/resources/fonts/ElMessiri-cyrillic.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

html {
    height: 100%;
}

.client-acc-body {
    height: 100%;
    background: url('/resources/images/meat.jpg') no-repeat fixed;
    background-size: cover;
    font-family: 'El Messiri', sans-serif;
}

.container {
    padding: 80px 120px;
}

/* Style the tab */
div.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: rgba(241, 241, 241, 0.9);
    /*background-color: #f1f1f1;*/
    width: 20%;
    height: 100%;
    /*opacity: 0.9;*/
    /*border:1px solid white;*/
}

/* Style the buttons inside the tab */
div.tab button {
    display: block;
    /*background-color: inherit;*/
    background-color: rgba(210, 210, 210, 0.8);
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    /*transition: 0.3s;*/
    transition: 0.3s;
    margin-top: 10px;
    /*border: 1px solid grey;*/
    box-shadow: 3px 3px 10px #888888;
}

div.tab button:first-child {
    margin-top: 6px
}

/* Change background color of buttons on hover */
div.tab button:hover {
    /*background-color: #ddd;*/
    background-color: rgba(204, 204, 204, 1);
    border-color: grey;
    transition: 0.8s;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: rgba(170, 170, 170, 1);
    /*background-color: #ccc;*/
}

/*div.tab .active {
    background-color: rgba(241, 241, 241, 1);

}*/
#Account-Settings {
    display: block;

}

/* Style the tab content */
.tabcontent {
    display: none;
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 80%;
    border-left: none;
    height: 100%;
    /*background-color:#fff;
    opacity: 0.6;*/
    background-color:rgba(255, 255, 255, 0.8);
}

.navbar{
    height: 5%;
}

.main-field {
    top: 5%;
    width: 100%;
    height: 95%;
    position: relative;
    display: block;

}

