/* cyrillic */
@font-face {
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 400;
    src: url('/resources/fonts/ElMessiri-cyrillic.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116, U+0000-007F;
}

/* latin */
@font-face {
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 400;
    src: local('El Messiri'), local('ElMessiri-Regular'), url('/resources/fonts/ElMessiri-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html, body {
    height: 100%;
    font-family: 'El Messiri', sans-serif;
}
.body-one {
    position: relative;
}
.body-one:after {
    content : "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: url('/resources/images/food.jpg') no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}

.body-home {
    position: relative;
}
.body-home:after {
    content : "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: url('/resources/images/hamburger.jpg') no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.4;
    z-index: -1;
}

.carousel, .carousel-inner, .carousel-inner .item, .carousel-inner img {
    height: 100% !important;
    width: 100% !important;
}

@media ( max-width : 600px) {
    .carousel-caption {
        display: none;
        /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.carousel-inner img {
    -webkit-filter: grayscale(40%);
    filter: grayscale(40%); /* make all photos black and white */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

#menu-container {
    width: 80%;
    margin: 10px auto;
    text-align: center;
    padding-top: 5%;
}

#item-list-container{
    width: 80%;
    margin: 10px auto;
    padding-top: 5%;
}

#menu-container h3 {
    font-size: 55px;
    font-weight: bold;
    color: #5F5F5F;
    letter-spacing: 10px;
    text-shadow: 2px 2px 0px #d5d5d5,
    2px 2px 0px rgba(0, 0, 0, 0.2);
    -webkit-animation:colorchange 25s infinite alternate;
}
.person {
    margin-bottom: 20px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {

}
.box-item {
    border: 1px solid #BFBFBF;
    border-radius: 5%;
    margin: 15px;
    width: 100%;
    -webkit-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
    filter: grayscale(10%);
    background: #F8F8F8;
    box-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee,
    2px 1px 1px #ccc, 1px 2px 1px #eee;

}
.box-item:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(122,122,122,0.5);
    -moz-box-shadow: 5px 5px 5px 0px rgba(122,122,122,0.5);
    box-shadow: 5px 5px 5px 0px rgba(122,122,122,0.5);
    transition: 1.5s all;
    background: white;
    cursor: pointer;
    border-color: #9A9A9A;
    transform: scale(1.03);
}
.box-item:hover .item-name {
    display: none;
    transition: 1s all;
}
.box-item:hover .item-hover {
    display: block;
    transition: 1s all;
    color: #FF6666;
    letter-spacing: 3px;
}
.box-item p {
    font-size: 20px;
    letter-spacing: 3px;
    color: #4A4A4A;
}
form {
    margin: 0;
    padding: 0;
}
input {
    margin: 0;
    padding: 0;
}
.row {
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.row img {
    width: 89%;
    margin-top: 10px;
}
.row input[type="image"] {
    margin-top: 10px;
}
.footer-form {
    margin-top: 40px;

}
.item-name {
    display: block;
    transition: 1s all;
}
.item-hover {
    display: none;
}

.item-info-list {

    padding: 10px;
    height: 120px;
}
.item-check-list {
    border-left: 1px solid #b6b6b6;
    height: 160px;
    padding-left:20px;
    padding-right: 20px;
}
.wrapper {
    width:80%;
    padding-top: 5%;
    margin:0 auto 20px;
}
.item-box-list {
    width: 100%;
    height: 20%;
    border: 1px solid #b6b6b6;
    border-radius: 10px;
    margin: 0 auto 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background: rgba(255, 255, 255, 0.8);
}
.item-box-list:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.item-price-list {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}
.item-price-list h3 {
    margin:0;
    font-size: 30px;
}

.item-name-list h2 {
    text-align: left;
    margin-top:10px;
    margin-bottom: 0;
}
.item-text-list p {
    text-align: left;
    font-size: 18px;
    padding-top: 10px;
}
.my-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
}
@media (max-width: 992px) {
    .item-box-list {
        width: 100%;
    }
}

.item-info-cart {
    border-right: 1px solid #b6b6b6;
    padding: 5px;
    height: 50px;
}
.item-check-cart {
    height: 50px;
    padding-left:20px;
    padding-right: 20px;
}

.item-box-cart {
    width: 100%;
    margin: 0 auto;
    height: 20%;
    border: 1px solid #b6b6b6;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background: rgba(255, 255, 255, 0.8);
}
.item-box-cart:hover {
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}
.item-price-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
}
.item-price-cart h3 {
    margin:0;
    font-size: 24px;
}

.item-name-cart h2 {
    margin-top:10px;
    margin-bottom: 0;
}
.item-text-cart p {
    font-size: 24px;
}
.my-btn {
    margin: auto;
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    text-transform: uppercase;
    border-color: #1CB94A;
}

.my-btn-red {
    margin: auto;
    background-color: #e10005;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    text-transform: uppercase;
    border-color: #9b0200;
}

.row-man-ord {
    margin: 5px auto auto;
    font-size: 18px;
}

.globe-icon {
    height: 18px;
    width: 18px;
}
