html, body {
    height: 100%;
    font-family: 'Bree Serif', serif;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('//resources/fonts/glyphicons-halflings-regular.eot');
    src: url('//resources/fonts/glyphicons-halflings-regular.eot?#iefix')
    format('embedded-opentype'),
    url('//resources/fonts/glyphicons-halflings-regular.woff2')
    format('woff2'),
    url('//resources/fonts/glyphicons-halflings-regular.woff')
    format('woff'),
    url('//resources/fonts/glyphicons-halflings-regular.ttf')
    format('truetype'),
    url('//resources/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular')
    format('svg');
}

.carousel, .carousel-inner, .carousel-inner .item, .carousel-inner img {
    height: 100% !important;
    width: 100% !important;
}

@media ( max-width : 600px) {
    .carousel-caption {
        display: none;
        /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.carousel-inner img {
    -webkit-filter: grayscale(40%);
    filter: grayscale(40%); /* make all photos black and white */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

.container {
    width: 80%;
    margin: 10px auto;
    text-align: center;
}

.container h3 {
    font-size: 55px;
    font-weight: bold;
    color: #5F5F5F;
    letter-spacing: 10px;
    text-shadow: 2px 2px 0px #d5d5d5,
    2px 2px 0px rgba(0, 0, 0, 0.2);
    -webkit-animation:colorchange 25s infinite alternate;
}
.person {
    margin-bottom: 20px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {

}
.box-item {
    border: 1px solid #BFBFBF;
    border-radius: 5%;
    margin: 15px;
    width: 100%;
    -webkit-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
    filter: grayscale(10%);
    background: #F8F8F8;
    box-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee,
    2px 1px 1px #ccc, 1px 2px 1px #eee;

}
.box-item:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(122,122,122,0.5);
    -moz-box-shadow: 5px 5px 5px 0px rgba(122,122,122,0.5);
    box-shadow: 5px 5px 5px 0px rgba(122,122,122,0.5);
    transition: 1.5s all;
    background: white;
    cursor: pointer;
    border-color: #9A9A9A;
    transform: scale(1.03);
}
.box-item:hover .item-name {
    display: none;
    transition: 1s all;
}
.box-item:hover .item-hover {
    display: block;
    transition: 1s all;
    color: #FF6666;
    letter-spacing: 3px;
}
.box-item p {
    font-size: 20px;
    letter-spacing: 3px;
    color: #4A4A4A;
}
form {
    margin: 0;
    padding: 0;
}
input {
    margin: 0;
    padding: 0;
}
.row {
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.row img {
    width: 89%;
    margin-top: 10px;
}
.row input[type="image"] {
    margin-top: 10px;
}
.footer-form {
    margin-top: 40px;

}
.item-name {
    display: block;
    transition: 1s all;
}
.item-hover {
    display: none;
}