.carousel-inner img {
    -webkit-filter: grayscale(40%);
    filter: grayscale(40%); /* make all photos black and white */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

html, body {
    height: 100%;
    font-family: 'Bree Serif', serif;
}

.carousel, .carousel-inner, .carousel-inner .item, .carousel-inner img {
    height: 100% !important;
    width: 100% !important;
}

@media ( max-width : 600px) {
    .carousel-caption {
        display: none;
        /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('//resources/fonts/glyphicons-halflings-regular.eot');
    src: url('//resources/fonts/glyphicons-halflings-regular.eot?#iefix')
    format('embedded-opentype'),
    url('//resources/fonts/glyphicons-halflings-regular.woff2')
    format('woff2'),
    url('//resources/fonts/glyphicons-halflings-regular.woff')
    format('woff'),
    url('//resources/fonts/glyphicons-halflings-regular.ttf')
    format('truetype'),
    url('//resources/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular')
    format('svg');
}